{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<h1> Mon panier</h1>


<table class="table my-5">
    <thead>
        <tr>
            <th scope="col">Produit</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    {% set sum = null%}
    {% if cart |length > 0 %}
    {% for product in cart %}
    <tbody>
        <tr>
            <th scope="row">
                <img src="{{asset('uploads/' ~ product.product.illustration)}}" width="75"
                    alt="{{product.product.name}}" srcset="">


                {{product.product.name}}</th>
            <td>
                <a href="{{path('cart_reduce_quantity', { id : product.product.id})}}"><i
                        class="fas fa-minus-circle"></i></a>



                x {{product.quantity}}

                <a href="{{path('cart_add_quantity', { id : product.product.id})}}"><i
                        class="fas fa-plus-circle"></i></a>


            </td>
            <td>{{(product.price ) |number_format(2, '.', ',') }} € </td>
            <td>{{product.total |number_format(2, '.', ',')}}
                <a href="{{path('remove_to_cart' , { id : product.product.id})}}"><i
                        class="fas fa-trash float-right"></i>
                </a>

            </td>


        </tr>

    </tbody>

    {% set sum = sum + product.total %}
    {% endfor %}

</table>
<div class="text-right">

    Nombre de produit : {{cart |length}}</p>
    <p>Total de mon panier : {{sum |number_format(2, '.', ',') }} </p>
    <a href="" class="btn btn-success btn-block"> Payer </a>
</div>

{% else %}
<tbody>
    <tr>
        <th scope="row">
        <td>
            <p class="text-center"> Votre panier est vide </p>
        </td>
        </th>
    </tr>
</tbody>


{% endif %}


{% endblock %}

{% block javascripts %}
<script src="https://kit.fontawesome.com/02235fec30.js" crossorigin="anonymous"></script>

{% endblock %}