{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
<h1>Erreur de paiement</h1>
<p>Bonjour {{order.user.firstName}} {{order.user.lastName}} <br>
    Il semblerait que votre paiement ait échoué n° {{order.reference}} <br>
    Une confirmation d'erreur vient de vous etre envoyée par email à l'adresse <strong>{{order.user.email}} </strong>
    <br>


    <hr>

    <a class="btn btn-success" href="{{path('my_order')}}">Réessayez le paiement</a>

</p>

{% endblock %}