
<!-- carousel 2 -->

<div id="myCarousel" class="carousel carousel-dark carousel-fade slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for key,header in headers %} 
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" {% if key==0 %}class="active" aria-current="true" {%
            endif %}  aria-label="Slide {{ key }}"></button>
        {% endfor %}

    </div>
    <div class="carousel-inner">
        {% for key,header in headers %}
        <div class="carousel-item {% if key == 0 %}active{% endif %}" data-bs-interval="5000">
            <img src="{{asset('uploads/header_image/' ~ header.image) }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ header.title }}</h5>
                <p>{{ header.content }}</p>
                <a class="btn btn-md btn-info" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>