<div class="row product-list">
    {% for product in products %}
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box mb-2">
                <img src="{{asset('uploads/article_image/' ~ product.illustration)  | imagine_filter('card')}}"
                    alt="" />
                <a href="{{path('add_to_cart', { id : product.id})}}" class="adtocart">
                    <i class="fa fa-cart-plus fa-lg " aria-hidden="true"></i>
                </a>
            </div>

            <div id="card-text" class="panel-body text-center">
                <h4>
                    <a href="{{path('product_show', {'slug': product.slug})}}" class="pro-title">
                        {{product.name}}
                    </a>
                </h4>
                <p class="price">{{(product.price / 100) | number_format(2, '.', ',')}} €</p>
            </div>
        </section>
    </div>

    {% endfor %}
</div>