<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for key,header in headers %}
        <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %}class="active" {% endif %}></li>
        {% endfor %}
    </ol>




    <div class="carousel-inner">
        {% for key,header in headers %}



        <div class="carousel-item {% if key == 0 %}active{% endif %}"
            style="background: url('{{asset('uploads/header_image/' ~ header.image) }}');background-size:cover;">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1 class="text-white">{{ header.title }}</h1>
                    <p class="text-white">{{ header.content }}</p>
                    <p><a class="btn btn-md btn-info" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>