<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top mb-2">
    <a href="{{path('homepage')}}" class="navbar-brand">Walid E-Commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{path('products')}}">Nos produits</a>
            </li>

            <li><a href="{{path('contact')}}" class="nav-item nav-link">Nous contacter</a></li>


            <form class="form-inline my-1 my-lg-0 mx-2" action="{{path('search')}}">
                <input class="form-control mr-sm-1" name="q" placeholder="Search" aria-label="Search" />
                <button class="btn btn-secondary  my-sm-0" type="submit">
                    Rechercher
                </button>
            </form>
        </ul>

        {% if app.user %}
        <ul class="navbar-nav mx-4">

            {% if  app.session.get('cart') |length > 0  %}


            <li class="nav-item">
                <a class="nav-link" href="{{path('my_cart')}}"> Panier <span class="badge badge-light">
                        {{ app.session.get('cart') |length }} </span> </a>
            </li>



            {% endif %}


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{path('account')}}" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <img src="{{asset('uploads/user_image/' ~ app.user.avatar) | imagine_filter('avatar') }}"
                        class="rounded-circle mx-1">
                    {{app.user.firstName}}


                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{path('account')}}">Mon profil</a>
                    <a class="dropdown-item" href="{{path('account_adress')}}">Mes addresses </a>
                    <a class="dropdown-item" href="{{path('account_order')}}">Mes Commandes </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{path('app_logout')}}">Deconnexion</a>
                </div>
            </li>
        </ul>


        {% else %}

        <a class="btn btn-md btn-outline-success mx-1" href="{{path('app_login')}}">Connexion</a>

        {% endif %}

    </div>
</nav>


{% include "partials/_notification.html.twig" %}